TYPEORM_LOGGING="false"

SESSION_SECRET=

DATABASE_URL=

WOO_SECRET_PARAM=
CARGONIZER_API_KEY=
FIKEN_API_TOKEN=

WOO_ALLOW_UPDATE=
CARGONIZER_ENABLED=

# Public base URL for temp product images (Woo fetches from here)
APP_PUBLIC_URL=https://mb-backoffice.fly.dev
